.container {
    background-color: rgb(133, 133, 133);
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.cont {
    background-color: rgb(178, 178, 178);
    width: 90%;
    min-height: 100vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 15px;
    /* height: 70vh; */
}